:root {
    --gray: #4a4a4a;
    --lightgray: rgb(130, 130, 130);
    --lightblue:#449bff;
    --darkblue:#005dff;
    --white: #ffffff;
    --almostwhite: rgb(230, 230, 230);

    --log_error: rgb(206, 31, 31);
    --log_warning: rgb(206, 153, 31);
    --log_info: rgb(31, 75, 206);
    --log_debug: rgb(89, 206, 31);

    --border-color: #bebebe;

    --control-label-font-weight: 400;
    --control-label-color: #868686;
    --control-label-color-hover: #595959;
    --control-link-color: #449bff;
    --control-link-color-hover: #005dff;

    --darkgreen: rgb(41, 96, 60);
    --lightgreen: rgb(87, 118, 98);
  }

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--gray);
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

html, body {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}
  
td {
    border: 0px;
    padding: 8px 0px 8px 0px;
    text-align: left;
}



#logo {
    position: absolute;
    background: var(--lightblue) url("../img/logo-w.png") center no-repeat;
    background-size: 30px;
    height: 50px;
    width: 50px;
}

#devicelogo {
    padding: 15px;
    width: 400px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#loginleft {
    padding: 65px;
    min-width: 400px;
    background-color: var(--white);
}

#loginright {
    width: 100%;
    background-color: var(--almostwhite);
}

#loginrightbottom {
    min-height: 20%;
    font-size: 2vw;
    font-weight: 100;
    text-align: center;
}

#loginrighttop {
    padding: 15%;
    display: flex;
    justify-content: center;
    max-height: 80%;
    min-height: 80%;
}

nav {
    position: absolute;
    background-color: var(--almostwhite);
    display: flex;
    text-align: left;
    flex-direction: column;
}

#sidenav {
    min-width: 50px;
    top: 50px;
    height: calc(100% - 50px);
    border-right: 1px solid var(--border-color);
}

#sidemenu {
    width: 280px;
    min-width: 180px;
    height: 100%;
    /* position: relative; */
    background-color: var(--white);
    border-right: 1px solid var(--border-color);
    padding: 15px;
}

#lognav {
    width: 100%;
    height: 190px;
    background-color: var(--white);
    padding: 15px 5% 15px 5%;
}

#lognav table th {
    color: var(--control-label-color);
    border-bottom: 1px solid var(--almostwhite);
    text-align: left;
    cursor: default;
}

#lognav table th:hover {
    color: var(--control-label-color-hover);
}

#logcontent {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    padding: 0% 5% 20% 5%;
    overflow-y: scroll;
}

#logcontent table tr {
    border-bottom: 1px solid var(--almostwhite);
}

.control-table {
    padding-top: 200px;
}

.control-table tr {
    border-bottom: 1px solid var(--almostwhite);
    height: 40px;
    line-height: 40px;
}

.td_title {
    font-weight: bold;
    width: 100px;
    color: var(--control-label-color);
}

.td_title.font-small {
    font-size: 12px;
}

.td_content {
    color: var(--control-label-color-hover);
}

.td_content.font-small {
    font-size: 12px;
}


.td_error {
    width: 80px;
    color: var(--log_error);
}

.td_warning {
    width: 80px;
    color: var(--log_warning);
}

.td_info {
    width: 80px;
    color: var(--log_info);
}

.td_debug {
    width: 80px;
    color: var(--log_debug);
}

#logcontent b, strong {
    font-weight: bold !important;
}

#sidemenu * {
    color: rgb(70, 70, 70);
    font-size: 15px;
    margin: 10px;
}

#sidemenu p {
    font-size: 12px;
}

#sidemenu .separator {
    content: '|';
    color: rgb(220, 220, 220);
}

#sidemenu .row:after {
    content: "";
    display: table;
    clear: both;
    margin: 0;
    padding: 0;
}

#sidemenu .row {
    margin: 0;
    padding: 0;
}

#sidemenu .column-left {
    text-align: left;
    margin: 0;
    padding: 0;
    float: left;
    width: 48%;
}

#sidemenu .column-right {
    text-align: right;
    margin: 0;
    padding: 0;
    float: left;
    width: 48%;
}

#sidemenu .column-middle {
    text-align: center;
    margin: 0;
    padding: 0;
    float: left;
    width: 4%;
}

#sidemenu a {
    font-size: 12px;
    text-decoration: none;
    color: rgb(28, 109, 245);
}

#sidemenu a:hover {
    text-decoration: none;
    color: rgb(52, 138, 246);
}

#sidemenu .menuitem {
    margin: 10px;
    padding-left: 10px;
    text-align: left;
    line-height: 35px;
    border-radius: 8px;
    height: 35px;
    cursor: pointer;
}

#sidemenu .menuitem:hover {
    background-color: rgb(246, 246, 248);
}

#sidemenu .selected {
    background: linear-gradient(90deg, rgba(52, 138, 245, 1) 0%, rgba(107, 209, 249, 1) 100%);
    color: white;
    cursor:default;
}

.selectedcontent {
    overflow-y: scroll;
    display: none;
    height: 100%;
    /* margin: 0% 15% 0% 15%; */
    padding: 30px 15% 30px 15%;
    position: relative;
    width: calc(100% - 280px);
}

.sidemargins {
    display: block;
    width: 100%;
    margin: 15px 15% 0 15%;    
}

.minibutton {
    display: inline-block;
    margin-left: 10px;
    font-variant: small-caps;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--lightblue);
    border: 1px solid var(--lightblue);
    background-color: var(--white);
    border-radius: 5px;
    height: 21px;
    width: 50px;
    text-align: center;
    line-height: 21px;
    cursor: pointer;
    background-position: center;
    transition: background 0.5s;
}

.minibutton:hover {
    color: var(--darkblue);
    border: 1px solid var(--darkblue);
}

.minibutton:active {
    color: var(--white);
    background-color: var(--darkblue);
    background-size: 100%;
    transition: background 0s;
  }

.roundedbox {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.roundedbox p {
    text-align: left;
    color: var(--control-label-color);
    font-size: 14px;
}

.roundedbox a {
    text-align: left;
    font-size: 14px;
    text-decoration: none;
    color: rgb(28, 109, 245);
}

#aboutbox {
    padding-top: 30px;
    margin: auto;
    width: 90%;
    height: 510px;
}


#topnav {
    border-bottom: 1px solid var(--border-color);
     justify-content: center;
    left: 50px;
    height: 50px;
    padding: 0 15px 0 15px;
    width: calc(100% - 50px);
}

#topnav .title {
    float: left;
    color: var(--lightgray);
    font-size: 20px;
    font-weight: 500;
}

#topnav .currentuser {
    display: inline;
    font-size: 16px;
}

#topnav .sessioninfo {
    display: block;
    width: fit-content;
    float: right;
}

#contents {
    background-color: var(--white);
    display: flex;
    height: calc(100% - 50px);
    left: 50px;
    position: absolute;
    top: 50px;
    width: calc(100% - 50px);
}

#contents-block {
    background-color: var(--white);
    display: block;
    height: calc(100% - 50px);
    left: 50px;
    position: absolute;
    top: 50px;
    width: calc(100% - 50px);
}

.icon-white {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    background: var(--white);
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    background: var(--lightgray);
}

.icon:hover {
    background: var(--lightblue);
}

.icon-download {
    -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M452 432c0 11-9 20-20 20s-20-9-20-20 9-20 20-20 20 9 20 20zm-84-20c-11 0-20 9-20 20s9 20 20 20 20-9 20-20-9-20-20-20zm144-48v104c0 24.3-19.7 44-44 44H44c-24.3 0-44-19.7-44-44V364c0-24.3 19.7-44 44-44h99.4L87 263.6c-25.2-25.2-7.3-68.3 28.3-68.3H168V40c0-22.1 17.9-40 40-40h96c22.1 0 40 17.9 40 40v155.3h52.7c35.6 0 53.4 43.1 28.3 68.3L368.6 320H468c24.3 0 44 19.7 44 44zm-261.7 17.7c3.1 3.1 8.2 3.1 11.3 0L402.3 241c5-5 1.5-13.7-5.7-13.7H312V40c0-4.4-3.6-8-8-8h-96c-4.4 0-8 3.6-8 8v187.3h-84.7c-7.1 0-10.7 8.6-5.7 13.7l140.7 140.7zM480 364c0-6.6-5.4-12-12-12H336.6l-52.3 52.3c-15.6 15.6-41 15.6-56.6 0L175.4 352H44c-6.6 0-12 5.4-12 12v104c0 6.6 5.4 12 12 12h424c6.6 0 12-5.4 12-12V364z'/></svg>");
    -webkit-mask-size: 28px 28px;
    margin: auto;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    width: 100%;
    height: 100%;
}

.icon-reload {
    -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M512 256c0 88.225-71.775 160-160 160H110.628l68.201 68.201c4.686 4.686 4.686 12.284 0 16.971l-5.656 5.656c-4.686 4.686-12.284 4.686-16.971 0l-98.343-98.343c-4.686-4.686-4.686-12.284 0-16.971l98.343-98.343c4.686-4.686 12.284-4.686 16.971 0l5.656 5.656c4.686 4.686 4.686 12.284 0 16.971L110.628 384H352c70.579 0 128-57.421 128-128 0-28.555-9.403-54.952-25.271-76.268-3.567-4.792-3.118-11.462 1.106-15.686l5.705-5.705c5.16-5.16 13.678-4.547 18.083 1.271C499.935 186.438 512 219.835 512 256zM57.271 332.268C41.403 310.952 32 284.555 32 256c0-70.579 57.421-128 128-128h241.372l-68.201 68.201c-4.686 4.686-4.686 12.284 0 16.971l5.656 5.656c4.686 4.686 12.284 4.686 16.971 0l98.343-98.343c4.686-4.686 4.686-12.284 0-16.971L355.799 5.172c-4.686-4.686-12.284-4.686-16.971 0l-5.656 5.656c-4.686 4.686-4.686 12.284 0 16.971L401.372 96H160C71.775 96 0 167.775 0 256c0 36.165 12.065 69.562 32.376 96.387 4.405 5.818 12.923 6.432 18.083 1.271l5.705-5.705c4.225-4.224 4.674-10.893 1.107-15.685z'/></svg>");
    -webkit-mask-size: 28px 28px;
    margin: auto;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    width: 100%;
    height: 100%;
}

.icon-clear {
    -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M497.94 273.94a48 48 0 0 0 0-67.88l-160-160a48 48 0 0 0-67.88 0l-256 256a48 48 0 0 0 0 67.88l96 96A48 48 0 0 0 144 480h356a12 12 0 0 0 12-12v-8a12 12 0 0 0-12-12H323.88l174.06-174.06zM292.69 68.69a16 16 0 0 1 22.62 0l160 160a16 16 0 0 1 0 22.62L358.63 368 176 185.37zM144 448a15.88 15.88 0 0 1-11.31-4.69l-96-96a16 16 0 0 1 0-22.62L153.37 208 336 390.63l-52.69 52.68A15.88 15.88 0 0 1 272 448z'/></svg>");
    -webkit-mask-size: 28px 28px;
    margin: auto;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    width: 100%;
    height: 100%;
}

.icon-users {
    -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512'><path d='M544 224c44.2 0 80-35.8 80-80s-35.8-80-80-80-80 35.8-80 80 35.8 80 80 80zm0-128c26.5 0 48 21.5 48 48s-21.5 48-48 48-48-21.5-48-48 21.5-48 48-48zM320 256c61.9 0 112-50.1 112-112S381.9 32 320 32 208 82.1 208 144s50.1 112 112 112zm0-192c44.1 0 80 35.9 80 80s-35.9 80-80 80-80-35.9-80-80 35.9-80 80-80zm244 192h-40c-15.2 0-29.3 4.8-41.1 12.9 9.4 6.4 17.9 13.9 25.4 22.4 4.9-2.1 10.2-3.3 15.7-3.3h40c24.2 0 44 21.5 44 48 0 8.8 7.2 16 16 16s16-7.2 16-16c0-44.1-34.1-80-76-80zM96 224c44.2 0 80-35.8 80-80s-35.8-80-80-80-80 35.8-80 80 35.8 80 80 80zm0-128c26.5 0 48 21.5 48 48s-21.5 48-48 48-48-21.5-48-48 21.5-48 48-48zm304.1 180c-33.4 0-41.7 12-80.1 12-38.4 0-46.7-12-80.1-12-36.3 0-71.6 16.2-92.3 46.9-12.4 18.4-19.6 40.5-19.6 64.3V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-44.8c0-23.8-7.2-45.9-19.6-64.3-20.7-30.7-56-46.9-92.3-46.9zM480 432c0 8.8-7.2 16-16 16H176c-8.8 0-16-7.2-16-16v-44.8c0-16.6 4.9-32.7 14.1-46.4 13.8-20.5 38.4-32.8 65.7-32.8 27.4 0 37.2 12 80.2 12s52.8-12 80.1-12c27.3 0 51.9 12.3 65.7 32.8 9.2 13.7 14.1 29.8 14.1 46.4V432zM157.1 268.9c-11.9-8.1-26-12.9-41.1-12.9H76c-41.9 0-76 35.9-76 80 0 8.8 7.2 16 16 16s16-7.2 16-16c0-26.5 19.8-48 44-48h40c5.5 0 10.8 1.2 15.7 3.3 7.5-8.5 16.1-16 25.4-22.4z'/></svg>");
    -webkit-mask-size: 28px 28px;
    margin: auto;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    width: 100%;
    height: 100%;
}

.icon-question {
    -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M256 340c-15.464 0-28 12.536-28 28s12.536 28 28 28 28-12.536 28-28-12.536-28-28-28zm7.67-24h-16c-6.627 0-12-5.373-12-12v-.381c0-70.343 77.44-63.619 77.44-107.408 0-20.016-17.761-40.211-57.44-40.211-29.144 0-44.265 9.649-59.211 28.692-3.908 4.98-11.054 5.995-16.248 2.376l-13.134-9.15c-5.625-3.919-6.86-11.771-2.645-17.177C185.658 133.514 210.842 116 255.67 116c52.32 0 97.44 29.751 97.44 80.211 0 67.414-77.44 63.849-77.44 107.408V304c0 6.627-5.373 12-12 12zM256 40c118.621 0 216 96.075 216 216 0 119.291-96.61 216-216 216-119.244 0-216-96.562-216-216 0-119.203 96.602-216 216-216m0-32C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8z'/></svg>");
    -webkit-mask-size: 28px 28px;
    margin: auto;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    width: 100%;
    height: 100%;
}

.icon-cog {
    -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M482.696 299.276l-32.61-18.827a195.168 195.168 0 0 0 0-48.899l32.61-18.827c9.576-5.528 14.195-16.902 11.046-27.501-11.214-37.749-31.175-71.728-57.535-99.595-7.634-8.07-19.817-9.836-29.437-4.282l-32.562 18.798a194.125 194.125 0 0 0-42.339-24.48V38.049c0-11.13-7.652-20.804-18.484-23.367-37.644-8.909-77.118-8.91-114.77 0-10.831 2.563-18.484 12.236-18.484 23.367v37.614a194.101 194.101 0 0 0-42.339 24.48L105.23 81.345c-9.621-5.554-21.804-3.788-29.437 4.282-26.36 27.867-46.321 61.847-57.535 99.595-3.149 10.599 1.47 21.972 11.046 27.501l32.61 18.827a195.168 195.168 0 0 0 0 48.899l-32.61 18.827c-9.576 5.528-14.195 16.902-11.046 27.501 11.214 37.748 31.175 71.728 57.535 99.595 7.634 8.07 19.817 9.836 29.437 4.283l32.562-18.798a194.08 194.08 0 0 0 42.339 24.479v37.614c0 11.13 7.652 20.804 18.484 23.367 37.645 8.909 77.118 8.91 114.77 0 10.831-2.563 18.484-12.236 18.484-23.367v-37.614a194.138 194.138 0 0 0 42.339-24.479l32.562 18.798c9.62 5.554 21.803 3.788 29.437-4.283 26.36-27.867 46.321-61.847 57.535-99.595 3.149-10.599-1.47-21.972-11.046-27.501zm-65.479 100.461l-46.309-26.74c-26.988 23.071-36.559 28.876-71.039 41.059v53.479a217.145 217.145 0 0 1-87.738 0v-53.479c-33.621-11.879-43.355-17.395-71.039-41.059l-46.309 26.74c-19.71-22.09-34.689-47.989-43.929-75.958l46.329-26.74c-6.535-35.417-6.538-46.644 0-82.079l-46.329-26.74c9.24-27.969 24.22-53.869 43.929-75.969l46.309 26.76c27.377-23.434 37.063-29.065 71.039-41.069V44.464a216.79 216.79 0 0 1 87.738 0v53.479c33.978 12.005 43.665 17.637 71.039 41.069l46.309-26.76c19.709 22.099 34.689 47.999 43.929 75.969l-46.329 26.74c6.536 35.426 6.538 46.644 0 82.079l46.329 26.74c-9.24 27.968-24.219 53.868-43.929 75.957zM256 160c-52.935 0-96 43.065-96 96s43.065 96 96 96 96-43.065 96-96-43.065-96-96-96zm0 160c-35.29 0-64-28.71-64-64s28.71-64 64-64 64 28.71 64 64-28.71 64-64 64z'/></svg>");
    -webkit-mask-size: 28px 28px;
    margin: auto;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    width: 100%;
    height: 100%;
}

.icon-gauge {
    -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'><path d='M288 152c13.26 0 24-10.74 24-24s-10.74-24-24-24-24 10.74-24 24 10.74 24 24 24zm-136 8c-13.26 0-24 10.74-24 24s10.74 24 24 24 24-10.74 24-24-10.74-24-24-24zm272 0c-13.26 0-24 10.74-24 24s10.74 24 24 24 24-10.74 24-24-10.74-24-24-24zm56 136c-13.26 0-24 10.74-24 24s10.74 24 24 24 24-10.74 24-24-10.74-24-24-24zM288 32C128.94 32 0 160.94 0 320c0 52.8 14.25 102.26 39.06 144.8 5.61 9.62 16.3 15.2 27.44 15.2h443c11.14 0 21.83-5.58 27.44-15.2C561.75 422.26 576 372.8 576 320c0-159.06-128.94-288-288-288zm221.5 416l-442.8.68C44 409.75 32 365.26 32 320 32 178.84 146.84 64 288 64s256 114.84 256 256c0 45.26-12 89.75-34.5 128zM96 296c-13.26 0-24 10.74-24 24s10.74 24 24 24 24-10.74 24-24-10.74-24-24-24zm269.22-167.12c-8.19-2.78-17.44 1.55-20.34 9.89l-51.83 149.74c-1.69-.13-3.31-.51-5.04-.51-35.35 0-64 28.65-64 64s28.65 64 64 64 64-28.65 64-64c0-22.25-11.38-41.82-28.62-53.29l51.74-149.48c2.87-8.34-1.54-17.46-9.91-20.35zM288 384c-17.64 0-32-14.36-32-32s14.36-32 32-32 32 14.36 32 32-14.36 32-32 32z'/></svg>");
    -webkit-mask-size: 28px 28px;
    margin: auto;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    width: 100%;
    height: 100%;
}

.icon-log {
    -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'><path d='M369.941 97.941l-83.882-83.882A48 48 0 0 0 252.118 0H48C21.49 0 0 21.49 0 48v416c0 26.51 21.49 48 48 48h288c26.51 0 48-21.49 48-48V131.882a48 48 0 0 0-14.059-33.941zm-22.627 22.628a15.89 15.89 0 0 1 4.195 7.431H256V32.491a15.88 15.88 0 0 1 7.431 4.195l83.883 83.883zM336 480H48c-8.837 0-16-7.163-16-16V48c0-8.837 7.163-16 16-16h176v104c0 13.255 10.745 24 24 24h104v304c0 8.837-7.163 16-16 16zm-34.467-210.949l-134.791 133.71c-4.7 4.663-12.288 4.642-16.963-.046l-67.358-67.552c-4.683-4.697-4.672-12.301.024-16.985l8.505-8.48c4.697-4.683 12.301-4.672 16.984.024l50.442 50.587 117.782-116.837c4.709-4.671 12.313-4.641 16.985.068l8.458 8.527c4.672 4.709 4.641 12.313-.068 16.984z'/></svg>");
    -webkit-mask-size: 28px 28px;
    margin: auto;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    width: 100%;
    height: 100%;
}

.group {
    position: relative;
    margin: 22px 0;
}

textarea {
    resize: none;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
    outline: none;
}

/* input[type=text]:focus~.bar:before,
input[type=password]:focus~.bar:before,
textarea:focus~.bar:before {
    width: 100%;
} */

input[type=password] {
    letter-spacing: 0.3em;
}

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before {
    content: "";
    height: 1px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #2196F3;
    left: 0%;
}

.control {
    color: var(--control-label-color);
    margin-right: 10px;
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 5px;
    padding-top: 0px;
    cursor: pointer;

}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control-textlabel {
    color: rgb(140, 140, 140);
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    top: 2px;
    transition: 300ms ease all;
}

.control-textbox {
    background: none;
    color: rgb(38, 38, 38);
    font-size: 11px;
    padding: 15px 5px 5px 0px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1.5px solid rgb(214, 217, 226);
}

.control-textbox:focus~label,
.control-textbox:valid~label {
    top: -8px;
    font-size: 10px;
    color: rgb(0, 111, 255);
}

.control-textbox:hover {
    border-bottom: 1.5px solid rgb(151, 154, 163);
}

.control-textbox:focus {
    border-bottom: 1.5px solid var(--lightblue);
}

.control_indicator {
    position: absolute;
    top: 5px;
    left: 0;
    height: 16px;
    width: 16px;
    background: var(--white);
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.control:hover input~.control_indicator,
.control input:focus~.control_indicator {
    background: #ffffff;
    border: 1px solid var(--darkblue);
}

.control input:checked~.control_indicator {
    background: var(--darkblue);
}

/* .control:hover input:not([disabled]):checked~.control_indicator,
.control input:checked:focus~.control_indicator {
    background: #e6647d;
} */

.control input:disabled~.control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.control input:checked~.control_indicator:after {
    display: block;
}

.control-info::after {
    display: inline-block;
    background-color: var(--white);
    border: 1px solid var(--lightblue);
    color: var(--lightblue);
    content: 'i';
    text-align: center;
    font-size: 13px;
    width: 20px;
    height: 20px;
    line-height: 18px;
    border-radius: 100%;
    cursor: help;
}

.control-checkbox .control_indicator:after {
    left: 5px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: solid var(--white);
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

.control-checkbox:hover {
    color: var(--control-label-color-hover);
}

.control-checkbox input:disabled~.control_indicator:after {
    border-color: #7b7b7b;
}

.control-checkbox .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: -1.3rem;
    margin-top: -1.3rem;
    background: #2aa1c0;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}

.control-toolbutton {
    font-size: 8px;
    width: 50px;
    height: 50px;
    color: var(--white);
    background-color: var(--control-label-color);
    padding-right: 10px;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 3px;
}

.control-toolbutton:hover {
    background-color: var(--lightblue);
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}

.control-button {
    padding-right: 10px;
    width: 100%;
    background: #fff;
    color: #959595;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    letter-spacing: 0.06em;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.control-button:hover {
    color: #8b8b8b;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}

.control-button.control-button-link {
    background: var(--darkblue);
    color: var(--white);
}

.control-button.control-button-link:hover {
    background: var(--lightblue);
    color: var(--white);
}

.control-button.control-button-submit {
    background: var(--darkblue);
    color: var(--white);
}

.control-button.control-button-submit:hover {
    background: rgb(51, 140, 255);
    color: var(--white);
}

.control-button.control-button-green {
    background: var(--darkgreen);
    color: var(--white);
}

.control-button.control-button-green:hover {
    background: var(--lightgreen);
    color: var(--white);    
}

.control-button.control-button-cancel {
    background: #eee;
}

.control-button.control-button-cancel:hover {
    background: #e1e1e1;
    color: #8b8b8b;
}

.control-button-box {
    text-align: center;
    margin: 20px 0;
}

.control-navitem {
    display: block;
    cursor: pointer;
    height: 55px;
    width: 100%;
    color: rgb(86, 86, 87);
}

.control-navseparator {
    display: block;
    border-bottom: 1px solid var(--control-label-color);
}

.control-tooltip {
    display: inline-block;
    position: relative;
    text-align: left;
}

.control-tooltip .right {
    min-width: 300px;
    top: 50%;
    left: 100%;
    margin-left: 15px;
    transform: translate(0, -50%);
    padding: 5px 15px;
    color: #444444;
    background-color: rgb(246, 246, 248);
    border: 1px solid rgb(220, 220, 220);
    font-weight: normal;
    font-size: 13px;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s;
}

.control-tooltip .bottom {
    min-width: 200px;
    top:70px;
    left:50%;
    transform:translate(-50%, 0);
    padding:10px 20px;
    color: #444444;
    background-color: rgb(246, 246, 248);
    border: 1px solid rgb(220, 220, 220);
    font-weight: normal;
    font-size: 13px;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s;
}

.control-tooltip .right h3 {
    font-weight: bold;
}

.control-tooltip .bottom h3 {
    font-weight: bold;
}

.control-tooltip:hover .right {
    visibility: visible;
    opacity: 1;
}

.control-tooltip:hover .bottom {
    visibility: visible;
    opacity: 1;
}

.control-tooltip .right i {
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -12px;
    width: 12px;
    height: 24px;
    overflow: hidden;
}

.control-tooltip .bottom i {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.control-tooltip .right i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    top: 50%;
    transform: translate(50%, -50%) rotate(-45deg);
    background-color: rgb(246, 246, 248);
    border: 1px solid rgb(220, 220, 220);
}

.control-tooltip .bottom i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
    background-color: rgb(246, 246, 248);
    border: 1px solid rgb(220, 220, 220);
}

.control-label {
    margin-right: 10px;
    font-weight: var(--control-label-font-weight);
    color: var(--control-label-color);
    cursor: default;
}

.control-label:hover {
    color: var(--control-label-color-hover);
}

.control-link {
    text-decoration: none;
    margin-right: 10px;
    font-weight: var(--control-label-font-weight);
    color: var(--control-link-color);
    padding-right: 10px;
}

.control-link:hover {
    color: var(--control-link-color-hover);
}

.control-textboxrounded {
    height: 35px;
    background: none;
    color: rgb(38, 38, 38);
    font-size: 15px;
    padding: 10px;
    margin-right: 10px;
    display: inline-block;
    width: 100%;
    border: none;
    background-color: var(--almostwhite);
    border-radius: 5px;
}

.control-textboxrounded:hover {
    background-color: #ededf0;
}

.control-textboxrounded:focus {
    border: 1.5px solid var(--lightblue);
}

.small {
    width: 60px;
}

.mid-small {
    width: 120px;
}

.medium {
    width: 180px;
}

.large {
    width: 280px;
}

.centered {
    text-align: center;
}

.control-sectiontitle {
    text-align: left;
    cursor: default;
    width: 100%;
    color: #000000;
    font-weight: 600;
    height: 45px;
    border-bottom: 1px solid #ededf0;
}

@media screen and (max-width: 600px) {
    #contents {
        left: 0;
        width: 100%;
    }

    #sidemenu {
        width: 80px;
    }

    .selectedcontent {
        padding: 30px 5% 30px 5%;
        width: calc(100% - 80px);
    }

    #sidemenu .column-left {
        width: 100%;
    }
    
    #sidemenu .column-right {
        text-align: left;
        width: 100%;
    }
    
    #sidemenu .column-middle {
        display: none;
    }
}