* {
  margin: 0;
  padding: 0;
  border-spacing: 0;
  box-sizing: border-box;
  background-color: transparent;
  color: #696969;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}
*:focus {
  outline: none;
}

body {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #348af6;
}
a:hover {
  color: #0a6fed;
}

.t {
  width: 56px;
}

.s {
  width: 84px;
}

.m {
  width: 122px;
}

.l {
  width: 254px;
}

.xl {
  width: 518px;
}

.xxl {
  width: 1046px;
}

.allwidth {
  width: 99%;
}

.textcentered {
  text-align: center;
}

.label {
  display: inline-block;
  cursor: default;
  margin: 5px;
}
.label:hover {
  color: #838383;
}

.layout {
  display: grid;
  width: 100%;
  height: 100%;
}
.layout.simple {
  grid-template-areas: "nt nt" "nl content" "nl content";
  grid-template-columns: 50px 4fr;
  grid-template-rows: 50px 1fr;
}
@media only screen and (max-width: 900px) {
  .layout.simple {
    grid-template-columns: 0px 4fr;
  }
}
.layout.fixedcontent {
  grid-template-areas: "nt nt" "nl cf" "nl content";
  grid-template-columns: 50px 4fr;
  grid-template-rows: 50px 150px 1fr;
}
@media only screen and (max-width: 900px) {
  .layout.fixedcontent {
    grid-template-columns: 0px 4fr;
  }
}
.layout.leftmenu {
  grid-template-areas: "nt nt nt" "nl ml content";
  grid-template-columns: 50px 250px 1fr;
  grid-template-rows: 50px 1fr;
}
@media only screen and (max-width: 900px) {
  .layout.leftmenu {
    grid-template-columns: 0px 130px 1fr;
  }
}

.navbar.top {
  border-bottom: 1.5053763441px solid #b5b5b5;
  grid-area: nt;
  background-color: #e6e6e6;
}
.navbar.top .item {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  width: fit-content;
}
.navbar.top .logo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  background: #348af6 url("../img/logo-w.png") center no-repeat;
  background-size: 30px;
  height: 50px;
  width: 50px;
}
.navbar.top .separator {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  width: 20px;
  height: 30px;
}
.navbar.top .separator::after {
  content: "";
  position: absolute;
  border-right: 1px solid #b3b3b3;
  height: 30px;
  width: 10px;
}
.navbar.left {
  border-right: 1px solid #b5b5b5;
  grid-area: nl;
  background-color: #e6e6e6;
}
@media only screen and (max-width: 900px) {
  .navbar.left {
    display: none;
  }
}
.navbar.left .item {
  position: relative;
  height: fit-content;
  height: 50px;
  width: 50px;
}
.navbar.left .item.button {
  cursor: pointer;
}
.navbar.left .separator {
  position: relative;
  width: 30px;
  height: 20px;
}
.navbar.left .separator:after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #b3b3b3;
  height: 10px;
  width: 30px;
  left: 10px;
}

.menu {
  border-right: 1px solid #b5b5b5;
  grid-area: ml;
  padding: 5%;
}
.menu .item {
  position: relative;
  font-size: 16.8px;
  padding-left: 10px;
  text-align: left;
  line-height: 40px;
  border-radius: 8px;
  height: 40px;
  margin-bottom: 5px;
  cursor: pointer;
}
.menu .item:hover {
  background-color: #ebebeb;
}
.menu .item.selected {
  background: linear-gradient(90deg, #348af6 0%, rgb(26, 255, 255) 100%);
  color: #fff;
  cursor: default;
}

.section {
  cursor: default;
  margin-bottom: 15px;
  font-size: 18.2px;
  text-align: left;
  font-weight: 500;
  width: fit-content;
  border-bottom: 1px solid #9a9a9a;
  line-height: 45.5px;
  width: 100%;
  color: #363636;
}

.toplabel {
  display: block;
  cursor: default;
  margin: 5px;
  font-size: 11.6666666667px;
}
.toplabel:hover {
  color: #838383;
}
.toplabel:focus-within {
  color: #348af6;
}

.button {
  height: 32.2px;
  padding: 7px;
  width: 100%;
  background: #0a6fed;
  color: white;
  border: none;
  border-radius: 5.6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.button:hover {
  background: #348af6;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}

.textbox {
  height: 32.2px;
  padding: 7px;
  margin: 5px;
  border: none;
  background-color: #e6e6e6;
}
.textbox:hover {
  background-color: #ebebeb;
}
.textbox.rounded {
  border-radius: 5.6px;
}
.textbox.rounded:focus {
  border: 1.5053763441px solid #348af6;
}
.textbox.flat:focus {
  border-bottom: 1.5053763441px solid #348af6;
  border-top: 1.5053763441px solid transparent;
}
.textbox.clear {
  font-size: 14px;
  padding: 0;
  background-color: transparent;
  color: #696969;
  border-bottom: 1.5053763441px solid #b5b5b5;
}
.textbox.clear:focus {
  border-bottom: 1.5053763441px solid #348af6;
}
.textbox.toplabel {
  display: block;
  margin: 5px 5px 5px 0;
}

.checkbox {
  -webkit-appearance: none;
  appearance: none;
  background-color: #e6e6e6;
  border-radius: 5.6px;
  margin-right: 5px;
  border: 1.5053763441px solid transparent;
}
.checkbox::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 22.4px;
  height: 22.4px;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  background-color: #348af6;
}
.checkbox:checked::before {
  transform: scale(0.6);
}
.checkbox:hover {
  background-color: #ebebeb;
}
.checkbox:focus {
  border: 1.5053763441px solid #348af6;
}
.checkbox:disabled {
  cursor: not-allowed;
}

.radiobutton {
  -webkit-appearance: none;
  appearance: none;
  background-color: #e6e6e6;
  border-radius: 50%;
  margin-right: 5px;
  border: 1.5053763441px solid transparent;
}
.radiobutton::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 22.4px;
  height: 22.4px;
  clip-path: circle(40%);
  transform: scale(0);
  background-color: #348af6;
}
.radiobutton:checked::before {
  transform: scale(0.6);
}
.radiobutton:hover {
  background-color: #ebebeb;
}
.radiobutton:focus {
  border: 1.5053763441px solid #348af6;
}
.radiobutton:disabled {
  cursor: not-allowed;
}

.table {
  overflow: hidden;
  width: 100%;
  padding-bottom: 50px;
}
.table caption {
  cursor: default;
  margin-bottom: 15px;
  font-size: 18.2px;
  text-align: left;
  font-weight: 500;
  width: fit-content;
}
.table colgroup col.id {
  width: 100px;
}
.table colgroup col.type {
  width: 80px;
}
.table colgroup col.menu {
  width: 35%;
}
.table thead td, .table thead th {
  display: inline-block;
  cursor: default;
  margin: 5px;
}
.table thead td:hover, .table thead th:hover {
  color: #838383;
}
.table tbody tr td.data {
  border-bottom: 1px solid #b5b5b5;
}
.table tbody tr td.warn {
  color: #d79c10;
}
.table tbody tr td.error {
  color: #d71010;
}
.table tbody tr td.info {
  color: #348af6;
}
.table tbody tr td.dbg {
  color: #10d75c;
}
.table tbody tr th {
  display: inline-block;
  cursor: default;
  margin: 5px;
}
.table tbody tr th.data {
  border-bottom: 1.96px solid #b5b5b5;
}
.table tbody tr th:hover {
  color: #838383;
}
.table tbody tr.blankrow {
  height: 32.2px;
}

.hint {
  display: inline-block;
  border: 1.96px solid #348af6;
  color: #348af6;
  text-align: center;
  width: 19.6px;
  height: 19.6px;
  border-radius: 50%;
  font-weight: lighter;
  margin-left: 5px;
}
.hint::before {
  content: "?";
}

.tooltip {
  display: inline-block;
  position: relative;
  text-align: center;
}
.tooltip .right {
  text-align: left;
  max-width: 300px;
  width: max-content;
  top: 50%;
  left: 100%;
  margin-left: 15px;
  transform: translate(0, -50%);
  padding: 15px;
  background-color: whitesmoke;
  border: 1.96px solid #c4c4c4;
  font-weight: normal;
  font-size: 13px;
  border-radius: 5.6px;
  position: absolute;
  z-index: 99999999;
  visibility: hidden;
}
.tooltip .right * {
  background-color: transparent;
}
.tooltip .right::after {
  width: max-content;
  content: attr(text);
}
.tooltip .right::before {
  display: block;
  font-weight: bold;
  content: attr(title);
}
.tooltip .right i {
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -12px;
  width: 12px;
  height: 24px;
  overflow: hidden;
}
.tooltip .right i::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: 50%;
  transform: translate(50%, -50%) rotate(-45deg);
  background-color: whitesmoke;
  border: 1.96px solid #c4c4c4;
}
.tooltip .bottom {
  text-align: left;
  max-width: 300px;
  width: max-content;
  top: 35px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 15px;
  background-color: whitesmoke;
  border: 1.96px solid rgb(220, 220, 220);
  font-weight: normal;
  font-size: 13px;
  border-radius: 5.6px;
  position: absolute;
  z-index: 99999999;
  visibility: hidden;
}
.tooltip .bottom * {
  background-color: transparent;
}
.tooltip .bottom::after {
  width: max-content;
  content: attr(text);
}
.tooltip .bottom::before {
  display: block;
  font-weight: bold;
  content: attr(title);
}
.tooltip .bottom i {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px;
  overflow: hidden;
}
.tooltip .bottom i::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
  background-color: whitesmoke;
  border: 1.96px solid rgb(220, 220, 220);
}
.tooltip:hover * {
  visibility: visible;
}

.text_right {
  text-align: right;
}
@media only screen and (max-width: 900px) {
  .text_right {
    text-align: left;
  }
}

.content {
  grid-area: content;
  overflow-y: auto;
}
.content.narrow {
  margin: 10px 15% 0 15%;
}
@media only screen and (max-width: 900px) {
  .content.narrow {
    margin: 10px 5% 0 5%;
  }
}
.content.wide {
  margin: 15px;
}
.content.details {
  position: absolute;
  right: 0;
  z-index: 99999999;
  width: 0;
  height: 100%;
  background-color: #e6e6e6;
  border-left: 1px solid #b5b5b5;
  transition: width 0.3s ease-in-out;
}
.content.details.visible {
  width: 300px;
}

.content_fixed {
  grid-area: cf;
}

.icon_gauge {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'><path d='M288 152c13.26 0 24-10.74 24-24s-10.74-24-24-24-24 10.74-24 24 10.74 24 24 24zm-136 8c-13.26 0-24 10.74-24 24s10.74 24 24 24 24-10.74 24-24-10.74-24-24-24zm272 0c-13.26 0-24 10.74-24 24s10.74 24 24 24 24-10.74 24-24-10.74-24-24-24zm56 136c-13.26 0-24 10.74-24 24s10.74 24 24 24 24-10.74 24-24-10.74-24-24-24zM288 32C128.94 32 0 160.94 0 320c0 52.8 14.25 102.26 39.06 144.8 5.61 9.62 16.3 15.2 27.44 15.2h443c11.14 0 21.83-5.58 27.44-15.2C561.75 422.26 576 372.8 576 320c0-159.06-128.94-288-288-288zm221.5 416l-442.8.68C44 409.75 32 365.26 32 320 32 178.84 146.84 64 288 64s256 114.84 256 256c0 45.26-12 89.75-34.5 128zM96 296c-13.26 0-24 10.74-24 24s10.74 24 24 24 24-10.74 24-24-10.74-24-24-24zm269.22-167.12c-8.19-2.78-17.44 1.55-20.34 9.89l-51.83 149.74c-1.69-.13-3.31-.51-5.04-.51-35.35 0-64 28.65-64 64s28.65 64 64 64 64-28.65 64-64c0-22.25-11.38-41.82-28.62-53.29l51.74-149.48c2.87-8.34-1.54-17.46-9.91-20.35zM288 384c-17.64 0-32-14.36-32-32s14.36-32 32-32 32 14.36 32 32-14.36 32-32 32z'/></svg>");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  display: inline;
  float: left;
  transform: translate(0%, 90%);
  margin-right: 5px;
  background-color: currentColor;
}
.icon_gauge.small {
  width: 15px;
  height: 15px;
}
.icon_gauge.medium {
  width: 40px;
  height: 40px;
}
.icon_gauge.big {
  width: 60px;
  height: 60px;
}

.datatable {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  line-height: 35px;
  text-align: left;
}
.datatable caption {
  cursor: default;
  margin-bottom: 15px;
  font-size: 18.2px;
  text-align: left;
  font-weight: 500;
  width: fit-content;
}
.datatable colgroup col.id {
  width: 100px;
}
.datatable colgroup col.type {
  width: 80px;
}
.datatable colgroup col.menu {
  width: 40%;
}
.datatable thead td, .datatable thead th {
  display: inline-block;
  cursor: default;
  margin: 5px;
}
.datatable thead td:hover, .datatable thead th:hover {
  color: #838383;
}
.datatable tbody tr td.data {
  border-bottom: 1px solid #b5b5b5;
}
.datatable tbody tr td.warn {
  color: #d79c10;
}
.datatable tbody tr td.error {
  color: #d71010;
}
.datatable tbody tr td.info {
  color: #348af6;
}
.datatable tbody tr td.dbg {
  color: #10d75c;
}
.datatable tbody tr th {
  display: inline-block;
  cursor: default;
  margin: 5px;
  width: 100px;
}
.datatable tbody tr th.data {
  border-bottom: 1px solid #b5b5b5;
}
.datatable tbody tr th:hover {
  color: #838383;
}

.menutable {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  line-height: 49px;
  text-align: left;
}
.menutable caption {
  cursor: default;
  margin-bottom: 15px;
  font-size: 18.2px;
  text-align: left;
  font-weight: 500;
  width: fit-content;
}
.menutable colgroup col.id {
  width: 100px;
}
.menutable colgroup col.type {
  width: 80px;
}
.menutable colgroup col.menu {
  width: 40%;
}
.menutable thead td, .menutable thead th {
  display: inline-block;
  cursor: default;
  margin: 5px;
}
.menutable thead td:hover, .menutable thead th:hover {
  color: #838383;
}
.menutable tbody tr td {
  font-size: 18.2px;
}
.menutable tbody tr td.data {
  border-bottom: 1px solid #b5b5b5;
}
.menutable tbody tr td.warn {
  color: #d79c10;
}
.menutable tbody tr td.error {
  color: #d71010;
}
.menutable tbody tr td.info {
  color: #348af6;
}
.menutable tbody tr td.dbg {
  color: #10d75c;
}
.menutable tbody tr th {
  display: inline-block;
  cursor: default;
  margin: 5px;
  font-size: 18.2px;
  font-weight: 400;
  width: 100px;
}
.menutable tbody tr th.data {
  border-bottom: 1px solid #b5b5b5;
}
.menutable tbody tr th:hover {
  color: #838383;
}

.column_layout {
  width: 50%;
}
@media only screen and (max-width: 900px) {
  .column_layout {
    width: 100%;
    border: none;
  }
}
.column_layout.left {
  float: left;
}
.column_layout.separator {
  border-right: 1px solid #696969;
}
@media only screen and (max-width: 900px) {
  .column_layout.separator {
    border: none;
  }
}
.column_layout.right {
  float: right;
}

.box {
  padding: 15px;
  border: 1px solid #b5b5b5;
  border-radius: 8px;
}

.title.padding_left {
  padding-left: 15px;
}
.title.bold {
  cursor: default;
  margin-bottom: 15px;
  font-size: 18.2px;
  text-align: left;
  font-weight: 500;
  width: fit-content;
}
.title.normal {
  cursor: default;
  margin-bottom: 15px;
  font-size: 18.2px;
  text-align: left;
  font-weight: 300;
  width: fit-content;
}

.footer {
  display: inline-block;
  cursor: default;
  margin: 5px;
  display: inline-block;
  margin-top: 15px;
}
.footer:hover {
  color: #838383;
}

.devicelogo {
  display: block;
  margin: auto;
  padding: 15px;
  width: 400px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
}
.icon.gauge {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'><path d='M288 152c13.26 0 24-10.74 24-24s-10.74-24-24-24-24 10.74-24 24 10.74 24 24 24zm-136 8c-13.26 0-24 10.74-24 24s10.74 24 24 24 24-10.74 24-24-10.74-24-24-24zm272 0c-13.26 0-24 10.74-24 24s10.74 24 24 24 24-10.74 24-24-10.74-24-24-24zm56 136c-13.26 0-24 10.74-24 24s10.74 24 24 24 24-10.74 24-24-10.74-24-24-24zM288 32C128.94 32 0 160.94 0 320c0 52.8 14.25 102.26 39.06 144.8 5.61 9.62 16.3 15.2 27.44 15.2h443c11.14 0 21.83-5.58 27.44-15.2C561.75 422.26 576 372.8 576 320c0-159.06-128.94-288-288-288zm221.5 416l-442.8.68C44 409.75 32 365.26 32 320 32 178.84 146.84 64 288 64s256 114.84 256 256c0 45.26-12 89.75-34.5 128zM96 296c-13.26 0-24 10.74-24 24s10.74 24 24 24 24-10.74 24-24-10.74-24-24-24zm269.22-167.12c-8.19-2.78-17.44 1.55-20.34 9.89l-51.83 149.74c-1.69-.13-3.31-.51-5.04-.51-35.35 0-64 28.65-64 64s28.65 64 64 64 64-28.65 64-64c0-22.25-11.38-41.82-28.62-53.29l51.74-149.48c2.87-8.34-1.54-17.46-9.91-20.35zM288 384c-17.64 0-32-14.36-32-32s14.36-32 32-32 32 14.36 32 32-14.36 32-32 32z'/></svg>");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 28px 28px;
  -webkit-mask-position: center;
  background: #868686;
}
.icon.gauge.hover:hover {
  background: #348af6;
}
.icon.gauge.white {
  background: #fff;
}
.icon.cog {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M482.696 299.276l-32.61-18.827a195.168 195.168 0 0 0 0-48.899l32.61-18.827c9.576-5.528 14.195-16.902 11.046-27.501-11.214-37.749-31.175-71.728-57.535-99.595-7.634-8.07-19.817-9.836-29.437-4.282l-32.562 18.798a194.125 194.125 0 0 0-42.339-24.48V38.049c0-11.13-7.652-20.804-18.484-23.367-37.644-8.909-77.118-8.91-114.77 0-10.831 2.563-18.484 12.236-18.484 23.367v37.614a194.101 194.101 0 0 0-42.339 24.48L105.23 81.345c-9.621-5.554-21.804-3.788-29.437 4.282-26.36 27.867-46.321 61.847-57.535 99.595-3.149 10.599 1.47 21.972 11.046 27.501l32.61 18.827a195.168 195.168 0 0 0 0 48.899l-32.61 18.827c-9.576 5.528-14.195 16.902-11.046 27.501 11.214 37.748 31.175 71.728 57.535 99.595 7.634 8.07 19.817 9.836 29.437 4.283l32.562-18.798a194.08 194.08 0 0 0 42.339 24.479v37.614c0 11.13 7.652 20.804 18.484 23.367 37.645 8.909 77.118 8.91 114.77 0 10.831-2.563 18.484-12.236 18.484-23.367v-37.614a194.138 194.138 0 0 0 42.339-24.479l32.562 18.798c9.62 5.554 21.803 3.788 29.437-4.283 26.36-27.867 46.321-61.847 57.535-99.595 3.149-10.599-1.47-21.972-11.046-27.501zm-65.479 100.461l-46.309-26.74c-26.988 23.071-36.559 28.876-71.039 41.059v53.479a217.145 217.145 0 0 1-87.738 0v-53.479c-33.621-11.879-43.355-17.395-71.039-41.059l-46.309 26.74c-19.71-22.09-34.689-47.989-43.929-75.958l46.329-26.74c-6.535-35.417-6.538-46.644 0-82.079l-46.329-26.74c9.24-27.969 24.22-53.869 43.929-75.969l46.309 26.76c27.377-23.434 37.063-29.065 71.039-41.069V44.464a216.79 216.79 0 0 1 87.738 0v53.479c33.978 12.005 43.665 17.637 71.039 41.069l46.309-26.76c19.709 22.099 34.689 47.999 43.929 75.969l-46.329 26.74c6.536 35.426 6.538 46.644 0 82.079l46.329 26.74c-9.24 27.968-24.219 53.868-43.929 75.957zM256 160c-52.935 0-96 43.065-96 96s43.065 96 96 96 96-43.065 96-96-43.065-96-96-96zm0 160c-35.29 0-64-28.71-64-64s28.71-64 64-64 64 28.71 64 64-28.71 64-64 64z'/></svg>");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 28px 28px;
  -webkit-mask-position: center;
  background: #868686;
}
.icon.cog:hover {
  background: #348af6;
}
.icon.log {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'><path d='M369.941 97.941l-83.882-83.882A48 48 0 0 0 252.118 0H48C21.49 0 0 21.49 0 48v416c0 26.51 21.49 48 48 48h288c26.51 0 48-21.49 48-48V131.882a48 48 0 0 0-14.059-33.941zm-22.627 22.628a15.89 15.89 0 0 1 4.195 7.431H256V32.491a15.88 15.88 0 0 1 7.431 4.195l83.883 83.883zM336 480H48c-8.837 0-16-7.163-16-16V48c0-8.837 7.163-16 16-16h176v104c0 13.255 10.745 24 24 24h104v304c0 8.837-7.163 16-16 16zm-34.467-210.949l-134.791 133.71c-4.7 4.663-12.288 4.642-16.963-.046l-67.358-67.552c-4.683-4.697-4.672-12.301.024-16.985l8.505-8.48c4.697-4.683 12.301-4.672 16.984.024l50.442 50.587 117.782-116.837c4.709-4.671 12.313-4.641 16.985.068l8.458 8.527c4.672 4.709 4.641 12.313-.068 16.984z'/></svg>");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 28px 28px;
  -webkit-mask-position: center;
  background: #868686;
}
.icon.log:hover {
  background: #348af6;
}
.icon.question {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M256 340c-15.464 0-28 12.536-28 28s12.536 28 28 28 28-12.536 28-28-12.536-28-28-28zm7.67-24h-16c-6.627 0-12-5.373-12-12v-.381c0-70.343 77.44-63.619 77.44-107.408 0-20.016-17.761-40.211-57.44-40.211-29.144 0-44.265 9.649-59.211 28.692-3.908 4.98-11.054 5.995-16.248 2.376l-13.134-9.15c-5.625-3.919-6.86-11.771-2.645-17.177C185.658 133.514 210.842 116 255.67 116c52.32 0 97.44 29.751 97.44 80.211 0 67.414-77.44 63.849-77.44 107.408V304c0 6.627-5.373 12-12 12zM256 40c118.621 0 216 96.075 216 216 0 119.291-96.61 216-216 216-119.244 0-216-96.562-216-216 0-119.203 96.602-216 216-216m0-32C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8z'/></svg>");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 28px 28px;
  -webkit-mask-position: center;
  background: #868686;
}
.icon.question:hover {
  background: #348af6;
}

.minibutton {
  font-variant: small-caps;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  background-position: center;
  background-color: #ffffff;
  display: inline-block;
  margin-left: 10px;
  color: #348af6;
  border: 1px solid #348af6;
  border-radius: 5px;
  height: 21px;
  width: 50px;
  line-height: 21px;
  cursor: pointer;
  transition: background 0.5s;
}
.minibutton:hover {
  color: #0a6fed;
  border: 1px solid #0a6fed;
}
.minibutton:active {
  background-color: #0a6fed;
  background-size: 100%;
  color: #ffffff;
  transition: background 0s;
}

html, body {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.login.left {
  float: left;
  padding: 65px;
  width: 550px;
  background-color: white;
}
.login.right {
  float: right;
  width: 100%;
  background-color: whitesmoke;
}
@media only screen and (max-width: 580px) {
  .login.right {
    display: none;
  }
}
.login.right.bottom {
  min-height: 20%;
  font-size: 2vw;
  font-weight: 100;
  text-align: center;
}
.login.right.top {
  padding: 15%;
  display: flex;
  justify-content: center;
  max-height: 80%;
  min-height: 80%;
}

#devicelogo {
  padding: 15px;
  width: 400px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/*# sourceMappingURL=styles.css.map */
